@page
@model LoginModel

<section class="probootstrap-cover overflow-hidden relative" style=" background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row  p-0">
            <div class="col-12">
                <h1 class="text-light text-center">Вход в системата</h1>
                <hr class="col-3 bg-light mb-1">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div asp-validation-summary="All" class="text-danger no-bullets"></div>
                        <!-- asp-route-returnUrl добавя към "/Identity/Account/Login" пътя, стойността която е записана в Proprerty ReturnUrl, като QueryString-->
                        <form method="post" asp-area="Identity" asp-page="/Account/Login" asp-route-returnurl="@Model.ReturnUrl">
                            <div class="form-group">
                                <label asp-for="@Model.Input.Email" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.Email" class="form-control" />
                                <span asp-validation-for="@Model.Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Input.Password" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.Password" class="form-control" />
                                <span asp-validation-for="@Model.Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input asp-for="@Model.Input.RememberMe" />
                                    <label asp-for="@Model.Input.RememberMe"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="form-group text-black-50 pt-0">
                                        <input type="submit" value="Вход" class="btn btn-warning" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="mb-1">
                                    <a id="forgot-password" asp-page="./ForgotPassword" class="control-label probootstrap_text-gray-300">Забравена парола?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="control-label probootstrap_text-gray-300">Регистрирай се!</a>
                                </p>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <section>

                                        @{
                                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                            {
                                                <div>
                                                    <p>
                                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                                        for details on setting up this ASP.NET application to support logging in via external services.
                                                    </p>
                                                </div>
                                            }
                                            else
                                            {
                                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                    <div>
                                                        <p>
                                                            @foreach (var provider in Model.ExternalLogins)
                                                            {
                                                                <button type="submit" class="btn btn-primary btn-block pl-0 " name="provider" value="@provider.Name" title=" Влез чрез профила си в @provider.DisplayName"><img src="/img/30_facebook.png" />&nbsp Влез с @provider.DisplayName профил</button>
                                                            }
                                                        </p>
                                                    </div>
                                                </form>
                                            }
                                        }
                                    </section>
                                </div>
                            </div>
                            <div class=""></div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}