@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<section class="probootstrap-cover overflow-hidden relative" style=" background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row  p-0">
            <div class="col-12">
                <h1 class="text-light text-center">Регистрация</h1>
                <hr class="col-3 bg-light">
            </div>

            <form method="post" asp-area="Identity" asp-page="/Account/Register" class="row  p-0">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row">
                        <div class="col">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="@Model.Input.Email" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.Email" class="form-control" />
                                <span asp-validation-for="@Model.Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Input.Password" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.Password" class="form-control" />
                                <span asp-validation-for="@Model.Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Input.ConfirmPassword" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="@Model.Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="@Model.Input.CompanyName" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.CompanyName" class="form-control" />
                                <span asp-validation-for="@Model.Input.CompanyName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Input.Address" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.Address" class="form-control" />
                                <span asp-validation-for="@Model.Input.Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Input.PhoneNumber" class="control-label probootstrap_text-gray-300"></label>
                                <input placeholder="+359" asp-for="@Model.Input.PhoneNumber" class="form-control" />
                                <span asp-validation-for="@Model.Input.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Input.Fax" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.Fax" class="form-control" />
                                <span asp-validation-for="@Model.Input.Fax" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="@Model.Input.VatNumber" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.VatNumber" class="form-control" />
                                <span asp-validation-for="@Model.Input.VatNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Input.Bulstat" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.Bulstat" class="form-control" />
                                <span asp-validation-for="@Model.Input.Bulstat" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Input.Manager" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.Manager" class="form-control" />
                                <span asp-validation-for="@Model.Input.Manager" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Input.Site" class="control-label probootstrap_text-gray-300"></label>
                                <input asp-for="@Model.Input.Site" class="form-control" />
                                <span asp-validation-for="@Model.Input.Site" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col">
                    <div class="form-group text-black-50">
                        <input type="submit" value="Регистрирай" class="btn btn-warning" />
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}