@using LogitWebApp.ViewModels.Users
@model UserOrderViewModel


<form method="post" asp-controller="Drivers" asp-action="Edit">
    <tr class=" pt-5 m-5 ">
        <td class="row probootstrap_border-1 border-dark bg-light rounded align-items-center pb-3">

            <input asp-for="@Model.OrderId" hidden />

            <div class="col-xl-12">

                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="@Model.OrderId" class="pt-2 mb-1">Поръчка номер</label>
                        <input asp-for="@Model.OrderId" readonly class="form-control mb-2" />
                    </div>

                    <div class="col-md-3">
                        <label asp-for="@Model.OrderCreatedOn" class="pt-2 mb-1">От дата</label>
                        <input asp-for="@Model.OrderCreatedOn" readonly class="form-control mb-2" />
                    </div>

                    <div class="col-md-3">
                        <label asp-for="@Model.Price" class="pt-2 mb-1">Цена</label>
                        <input asp-for="@Model.Price" value="@Model.Price лв." readonly class="form-control mb-2" />
                    </div>

                </div>



                <div class="row">
                    <div class="col-4">
                        <label asp-for="@Model.LoadingAddress" class="ptmtJoro">Адрес на товарене</label>
                        <input asp-for="@Model.LoadingAddress" readonly class="form-control mb-2" />
                    </div>

                    <div class="col-2">
                        <label asp-for="@Model.LoadingDate" class="ptmtJoro">Дата на товарене</label>
                        <input asp-for="@Model.LoadingDate" type="text" readonly class="form-control  mb-2" />
                    </div>

                    <div class="col-1">
                        <label asp-for="@Model.Width" class="ptmtJoro">Ширина</label>
                        <input asp-for="@Model.Width" readonly name="Width" class="form-control  mb-2" value="@Model.Width">
                    </div>

                    <div class="col-1">
                        <label asp-for="@Model.Length" class="ptmtJoro">Дължина</label>
                        <input asp-for="@Model.Length" readonly name="Length" class="form-control  mb-2" value="@Model.Length">
                    </div>

                    <div class="col-1">
                        <label asp-for="@Model.CountOfPallets" class="ptmtJoro">Брой</label>
                        <input asp-for="@Model.CountOfPallets" readonly class="form-control  mb-2" value="@Model.CountOfPallets">
                    </div>

                    <div class="col-1">
                        <label asp-for="@Model.IsExpressDelivery" class="ptmtJoro">Експресна </label>
                        @if (!Model.IsExpressDelivery)
                        {

                            <input name="@Model.IsExpressDelivery" readonly value="Не" class="form-control" />

                        }
                        else
                        {
                            <input name="@Model.IsExpressDelivery" readonly value="Да" class="form-control" />
                        }
                    </div>


                    <div class="col-1">
                        <label asp-for="@Model.IsDelivered" class="ptmtJoro">Доставена</label>

                        @if (!Model.IsDelivered)
                        {
                            <input name="@Model.IsDelivered" readonly value="Не" class="form-control" />
                        }
                        else
                        {
                            <div class="text-center form-control p-0">
                                <img src="/img/check.png" />
                                <select hidden asp-for="@Model.IsDelivered" name="IsDelivered" class="form-control" mb-2>
                                    <option value="true">Да</option>
                                </select>
                            </div>
                        }
                    </div>


                    <div class="col-1">
                        <label asp-for="@Model.IsFragile" class="ptmtJoro">Чуплива</label>

                        @if (!Model.IsFragile)
                        {
                            <input name="@Model.IsFragile" readonly value="Не" class="form-control" />
                        }
                        else
                        {
                            <input name="@Model.IsFragile" readonly value="Да" class="form-control" />
                        }
                    </div>


                    <div class="col-4">
                        <label asp-for="@Model.UnloadingAddress" class="ptmtJoro">Адрес за разтоварване</label>
                        <input asp-for="@Model.UnloadingAddress" readonly class="form-control  mb-2" value="@Model.UnloadingAddress">
                    </div>

                    <div class="col-2" style="width: 200px; display: inline-block;">
                        <label asp-for="@Model.UnloadingDate" class="ptmtJoro">Дата разтоварване</label>
                        <input asp-for="@Model.UnloadingDate" type="text" readonly class="form-control  mb-2" />
                    </div>


                    <div class="col-1">
                        <label asp-for="@Model.Height" class="ptmtJoro">Височина</label>
                        <input asp-for="@Model.Height" readonly name="Height" class="form-control  mb-2" value="@Model.Height">
                    </div>

                    <div class="col-1">
                        <label asp-for="@Model.Weight" class="ptmtJoro">Тегло</label>
                        <input asp-for="@Model.Weight" readonly name="Weight" class="form-control  mb-2" value="@Model.Weight">
                    </div>

                    @*Ако има шофьор взел тази пратка за превоз нека се показва за да може User-а да го оцени*@
                    @if (Model.DriverFirstName != null && Model.DriverLastName != null)
                    {
                        <div class="col-md-2">
                            <label class="ptmtJoro">Шофьор</label>
                            <input asp-for="@Model.DriverFirstName" readonly name="@Model.DriverFirstName" class="form-control  mb-2" value="@Model.DriverFirstName @Model.DriverLastName">
                        </div>

                        <div class="col-md-2">


                            @{
                                var data = new Dictionary<string, string>
                                                                                                                                                {
                                    {"driverId", Model.DriverId },
                                    { "value", "0"}
                                };
                            }

                            @if (Model.AverageVote > 0)
                            {
                                <div class="row ml-1 mb-2">
                                    <label class="ptmtJoro">@Model.AverageVote.ToString("0.0")/5</label>
                                </div>

                                @for (int i = 1; i <= (int)Model.AverageVote; i++)
                                {
                                    data["value"] = i.ToString();

                                    <a asp-controller="Votes" asp-action="Vote" asp-all-route-data="data">
                                        <span class="star-fill"><i class="fas fa-star text-warning"></i></span>
                                    </a>
                                }

                                @for (int i = (int)Model.AverageVote + 1; i <= 5; i++)
                                {
                                    data["value"] = i.ToString();

                                    <a asp-controller="Votes" asp-action="Vote" asp-all-route-data="data">
                                        <span class="star-fill"><i class="fas fa-star"></i></span>
                                    </a>
                                }
                            }
                            else
                            {
                                <div class="row ml-1 mb-2">
                                    <label class="ptmtJoro">0/5</label>
                                </div>

                                for (int i = 1; i <= 5; i++)
                                {
                                    data["value"] = i.ToString();

                                    <a asp-controller="Votes" asp-action="Vote" asp-all-route-data="data">
                                        <span class="star-fill"><i class="fas fa-star"></i></span>
                                    </a>
                                }
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="row row ml-1 mr-1">
                <div class="col-xl-6">
                    <div class="">
                        <label class="ptmtJoro" asp-for="@Model.Description">Описание</label>
                        <textarea rows="4" readonly asp-for="@Model.Description" class="form-control"></textarea>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="">
                        <label class="ptmtJoro" asp-for="@Model.Comment">Коментар</label>
                        <textarea rows="4" readonly asp-for="@Model.Comment" class="form-control"></textarea>
                    </div>
                </div>


                <!--<div class="col-xl-2">
                    <div class="row p-3 ">
                        <div class="col-12">-->
                @*<label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i>Качи снимка</label>
                    <input hidden type="file" id="file-upload" asp-for="@editShipment.Picture" name="Picture"/>
                    <span asp-validation-for="@editShipment.Picture"></span>*@

                <!--</div>
                    </div>
                </div>-->
            </div>
        </td>
    </tr>
</form>

<div class="row">
    <div class="col">
        <form method="post" asp-controller="Export" asp-action="GetPdf" class="ml-2 mt-2" style="float:left;">
            <input type="text" readonly hidden asp-for="@Model.OrderId" name="orderId" />
            <input type="submit" class="btn btn-sm btn-success m-2 p-2" value="Смъкни .pdf" />

            <span class="inline-block">
                @foreach (var image in Model.Images)
                {
                    <a href="/Users/ShowImages?orderId=@Model.OrderId" target="_blank">
                        <img src="@image.ImageUrl" style="width: 50px;" />
                    </a>
                }
            </span>
        </form>

        <form method="post" asp-controller="Orders" asp-action="Chat" class="ml-2 mt-2 inline-block">
            <input type="text" readonly hidden  name="orderId" value="@Model.OrderId" />
            <input type="submit" class="btn btn-sm btn-success m-2 p-2" value="Пишете ни" />
        </form>

    </div>
</div>





@*@section Scripts {
        <script>
            $("li[data-vote]").each(function (el) {
                $(this).click(function () {
                    console.log($(this).attr("data-vote"));
                })
            });
        </script>
    }*@