@using LogitWebApp.ViewModels
@model ShipmentViewModel

 @*<h1>fjkdfjkdsjlkfsdjfdsjkl</h1>
    <h1>@Model.Id</h1>
    <h1>@Html.DisplayFor(x=>x.LoadingDate)</h1>
    <h1>@Html.DisplayFor(x=>x.UnloadingDate)</h1>
    <h1>@Html.DisplayFor(x=>x.OrderCreatedOn)</h1>
    <h1>@Html.DisplayFor(x=>x.LoadingAddress)</h1>
    <h1>@Html.DisplayFor(x=>x.UnloadingAddress)</h1>
    <h1>@Model.From</h1>
    <h1>@Model.To</h1>*@
