
@model OfferInputModel

<h1 class="joro">That is from Partial View!!!</h1>
<h1 class="joro">@Model.CountOfPallets</h1>
<h1 class="joro">@Model.Length</h1>
<h1 class="joro">@Model.Weight</h1>
<h1 class="joro">@Model.Height</h1>
<h1 class="joro">@Model.Width</h1>
<h1 class="joro">@Model.IsFragile</h1>
