@using LogitWebApp.ViewModels.Drivers
@model IEnumerable<AllShipmentsWithAddresses>

<style>
    .table-shipments {
        border-collapse: separate;
        border-spacing: 0 20px;
        font-size: 14px;
    }
</style>

<div class="pt-5">
    <h1 class="text-center text-dark pt-5">Пратки за превозване</h1>
    <hr class="bg-info">
</div>

<div class="container pl-1 pr-1">
    <table class="table table-sm  table-shipments">
        <tbody>
            @foreach (var shipment in Model)
            {
                <tr class=" pt-5 m-5 ">
                    <td class="row border border-info rounded align-items-center pb-3">

                        <div class="col-6">
                            <div class="row">
                                <div class="col-8">
                                    <label for="LoadingAddress">Адрес за товарене:</label>
                                    <input type="text" readonly class="form-control" id="LoadingAddress" name="LoadingAddress" value="@shipment.LoadingAddress">
                                </div>

                                <div class="col-4">
                                    <label for="LoadingDate">Дата на товарене:</label>
                                    <input type="text" readonly class="form-control" id="LoadingDate" name="LoadingDate" value="@shipment.LoadingDate">
                                </div>

                                <div class="col-8">
                                    <label for="UnloadingAddress">Адрес за разтоварване:</label>
                                    <input type="text" readonly class="form-control" id="UnloadingAddress" name="UnloadingAddress" value="@shipment.UnloadingAddress">
                                </div>

                                <div class="col-4">
                                    <label for="UnloadingDate">Дата на разтоварване:</label>
                                    <input type="text" readonly class="form-control" id="UnloadingDate" name="UnloadingDate" value="@shipment.UnloadingDate">
                                </div>
                            </div>                           
                        </div>

                        <div class="col-2">
                            <div class="row">
                                <div class="col-6">
                                    <label for="Width">Ширина:</label>
                                    <input type="text" readonly class="form-control" id="Width" name="Width" value="@shipment.Width">
                                </div>

                                <div class="col-6">
                                    <label for="Length">Дължина:</label>
                                    <input type="text" readonly class="form-control" id="Length" name="Length" value="@shipment.Length">
                                </div>

                                <div class="col-6">
                                    <label for="Height">Височина:</label>
                                    <input type="text" readonly class="form-control" id="Height" name="Height" value="@shipment.Height">
                                </div>

                                <div class="col-6">
                                    <label for="Weight">Тегло:</label>
                                    <input type="text" readonly class="form-control" id="Weight" name="Weight" value="@shipment.Weight">
                                </div>                               
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="row">
                                
                                <div class="col-12">
                                    <label for="CountOfPallets">Брой палети:</label>
                                    <input type="text" readonly class="form-control" id="CountOfPallets" name="CountOfPallets" value="@shipment.CountOfPallets">
                                </div>

                                <div class="col-12">
                                    <label for="IsFragile">Чуплива пратка:</label>
                                    <input type="text" readonly class="form-control" id="IsFragile" name="IsFragile" value="@shipment.IsFragile">
                                </div>

                            </div>
                        </div>

                        <div class="col-2">
                            <div class="row pt-3">
                                <div class="col-10">
                                    <a href="/Drivers/TakeShipment?shipmentId=@shipment.Id" class="btn btn-info">Вземи за превоз</a>
                                </div>
                            </div>
                        </div>






                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

                  @*Id = x.Id,
                    
                    
                   ,
                    IsFragile = x.IsFragile,
                    *@
