@using LogitWebApp.ViewModels.Drivers
@model IEnumerable<AllShipmentsWithAddresses>

<style>
    .table-shipments {
        border-collapse: separate;
        border-spacing: 0 20px;
        font-size: 14px;
    }
</style>

<div class="bg-dark pt-5 pb-4"></div>

<div class="pt-0">
    <h1 class="text-center text-dark pt-3">Пратки за превозване</h1>
    <hr class="bg-info">
</div>

<div class="container pl-1 pr-1">
    <table class="table table-sm  table-shipments">
        <tbody>
            @foreach (var shipment in Model)
            {
                <tr class=" pt-5 m-5 ">
                    <td class="row border border-info rounded align-items-center pb-3">

                        <partial name="_ShipmentPartialViewShort" , model="shipment" />

                        <div class="col-2">
                            <div class="row">
                                <div class="col-6">
                                    <label asp-for="@shipment.Width">Ширина:</label>
                                    <input asp-for="@shipment.Width" readonly class="form-control" value="@shipment.Width">
                                </div>

                                <div class="col-6">
                                    <label asp-for="@shipment.Length">Дължина:</label>
                                    <input asp-for="@shipment.Length" readonly class="form-control" value="@shipment.Length">
                                </div>

                                <div class="col-6">
                                    <label asp-for="@shipment.Height">Височина:</label>
                                    <input asp-for="@shipment.Height" readonly class="form-control" value="@shipment.Height">
                                </div>

                                <div class="col-6">
                                    <label asp-for="@shipment.Weight">Тегло:</label>
                                    <input asp-for="@shipment.Weight" readonly class="form-control" value="@shipment.Weight">
                                </div>
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="row">

                                <div class="col-12">
                                    <label for="CountOfPallets">Брой палети:</label>
                                    <input type="text" readonly class="form-control" id="CountOfPallets" name="CountOfPallets" value="@shipment.CountOfPallets">
                                </div>

                                <div class="col-12">
                                    <label for="IsFragile">Чуплива пратка:</label>
                                    <input type="text" readonly class="form-control" id="IsFragile" name="IsFragile" value="@shipment.IsFragile">
                                </div>

                            </div>
                        </div>

                        <div class="col-2">
                            <div class="row pt-3">
                                <div class="col-10">
                                    <a href="/Drivers/TakeShipment?shipmentId=@shipment.Id" class="btn btn-info">Вземи за превоз</a>
                                </div>
                            </div>
                        </div>






                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

