
@using LogitWebApp.ViewModels.Drivers
@model DriverShipmentsPaginationViewModel

<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row pt-0 ">
            <div class="col-md">
                <section>
                    <div class="pt-0">
                        <h1 class="text-center probootstrap_text-gray-300 pt-0 probootstrap-animate">Редактиране на пратки</h1>
                        <hr class="col-1 bg-light probootstrap-animate">
                    </div>

                    <div class="container pl-1 pr-1">
                        <table class="table table-sm  table-shipments">
                            <tbody>
                                @foreach (var editShipment in Model.DriverShipmentsOfCurrentPage)
                                {
                                    <form method="post" asp-controller="Drivers" asp-action="Edit">
                                        <tr class=" pt-5 m-5 ">
                                            <td class="row probootstrap_border-1 border-dark bg-light rounded align-items-center pb-3">

                                                <input asp-for="@editShipment.Id" hidden name="ShipmentId" />

                                                @*<div asp-validation-summary="All" class="text-danger error-text-size"></div>*@

                                                <partial name="_ShipmentPartialView" , model="editShipment">

                                                    <div class="row row ml-1 mr-1">
                                                        <div class="col-xl-6">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label class="mb-1" asp-for="@editShipment.Description"></label>
                                                                    <textarea rows="4" readonly asp-for="@editShipment.Description" class="form-control"></textarea>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="mb-1" asp-for="@editShipment.Comment"></label>
                                                                    <textarea rows="4" readonly asp-for="@editShipment.Comment" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-2">

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <label asp-for="@editShipment.Width" class="mb-1">Ширина:</label>
                                                                    <input asp-for="@editShipment.Width" readonly name="Width" class="form-control  mb-2" value="@editShipment.Width">
                                                                    <span asp-validation-for="@editShipment.Width class=" text-danger error-text-size""></span>
                                                                </div>

                                                                <div class="col-6">
                                                                    <label asp-for="@editShipment.Length" class="mb-1">Дължина:</label>
                                                                    <input asp-for="@editShipment.Length" readonly name="Length" class="form-control  mb-2" value="@editShipment.Length">
                                                                    <span asp-validation-for="@editShipment.Length class=" text-danger error-text-size""></span>
                                                                </div>

                                                                <div class="col-6">
                                                                    <label asp-for="@editShipment.Height" class="mb-1">Височина</label>
                                                                    <input asp-for="@editShipment.Height" readonly name="Height" class="form-control  mb-2" value="@editShipment.Height">
                                                                    <span asp-validation-for="@editShipment.Height class=" text-danger error-text-size""></span>
                                                                </div>

                                                                <div class="col-6">
                                                                    <label asp-for="@editShipment.Weight" class="mb-1">Тегло</label>
                                                                    <input asp-for="@editShipment.Weight" readonly name="Weight" class="form-control  mb-2" value="@editShipment.Weight">
                                                                    <span asp-validation-for="@editShipment.Weight class=" text-danger error-text-size""></span>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="col-xl-2">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <label asp-for="@editShipment.CountOfPallets" class="mb-1"></label>
                                                                    <input type="text" asp-for="@editShipment.CountOfPallets" readonly name="CountOfPallets" class="form-control  mb-2" value="@editShipment.CountOfPallets">
                                                                    <span asp-validation-for="@editShipment.CountOfPallets" class=" text-danger error-text-size"></span>
                                                                </div>

                                                                <div class="col-12">
                                                                    <label asp-for="@editShipment.IsDelivered" class="mb-1">Доставена ли е </label>

                                                                    @if (!editShipment.IsDelivered)
                                                                    {

                                                                        <input name="@editShipment.IsDelivered" readonly value="Не" class="form-control" />

                                                                    }
                                                                    else
                                                                    {
                                                                        @*<input asp-for="@shipment.IsDelivered" readonly class="form-                                  control" checked disabled />*@

                                                                        <div class="text-center form-control p-0">
                                                                            <img src="/img/check.png" />

                                                                            <select hidden asp-for="@editShipment.IsDelivered" name="IsDelivered" class="form-control" mb-2>
                                                                                <option value="true">Да</option>
                                                                            </select>
                                                                        </div>
                                                                    }

                                                                    <span asp-validation-for="@editShipment.IsDelivered class=" text-danger error-text-size""></span>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="col-xl-2">
                                                            <div class="row pt-3 text-right">
                                                                <div class="col-12">
                                                                    <input type="submit" class="btn btn-warning pl-1 pr-1 pt-5 pb-5" value="Редактирай" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-2">
                                                            <div class="row p-3 ">
                                                                <div class="col-12">

                                                                    @*<label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i>Качи снимка</label>
                    <input hidden type="file" id="file-upload" asp-for="@editShipment.Picture" name="Picture"/>
                    <span asp-validation-for="@editShipment.Picture"></span>*@

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </td>
                                        </tr>
                                    </form>
                                }
                            </tbody>
                        </table>

                        <partial name="_PaginationPartialView" model="Model" />

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

